@import 'tailwindcss';

module.exports = {
  theme: {
    extend: {
      colors: {
        main: '#EAEAEA',
        create: '#3ab7bf',
        read: '#78dcca',
        heading: '#2B2F46',
      },
    },
  },
  // other config options...
}



/* my react todo -application:

Main.jsx:
import { createRoot } from 'react-dom/client'
import  './index.css';
import App from './App.jsx'
import { ToastContainer } from 'react-toastify';
import Wrapper from './Wrapper.jsx';

createRoot(document.getElementById('root')).render(
  <Wrapper>
    <App />
    <ToastContainer position='top-center'/>
  </Wrapper>,
)

App.jsx:
 */